<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_track_save_commit_after">
        <observer name="panda_autoresponder_new_shipment_track" instance="Licentia\Panda\Observer\Admin\NewShipmentTrack"/>
    </event>
    <event name="sales_order_shipment_save_commit_after">
        <observer name="panda_autoresponder_new_shipment_no_track" instance="Licentia\Panda\Observer\Admin\NewShipmentNoTrack"/>
    </event>
    <event name="backend_auth_user_login_success">
        <observer name="panda_log_admin_user_session_popups_emulate" instance="Licentia\Panda\Observer\Admin\AdminSessionLog"/>
    </event>
</config>
